.into{
    background-color: lightgoldenrodyellow;
}
.obj{
    background-color: aqua;
}
.edu{
    background-color: violet;
}
.skills{
    background-color: blanchedalmond;
}
.dec{
    background-color: aquamarine;
}